namespace: sandbox

service:
  port: 7111
  targetPort: 3111
  protocol: TCP
  type: NodePort

image:
  repository: madugular/techtrends
  tag: v2
  pullPolicy: Always

replicaCount: 1

resources:
  requests:
    memory: 64Mi
    cpu: 200m
  limits:
    memory: 128Mi
    cpu: 400m

containerPort: 3111

livenessProbe:
  path: /healthz
  port: 3111

readinessProbe:
  path: /healthz
  port: 3111
